<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
       #list {
        height: 400px;
        width: 100%;
        
       }
    </style>
     <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <div id="list">  </div>
    <button id="btnHide">Hide Markers</button>
    <button id="btnShow">Show Markers</button>



    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAf9avfe06HJmY5yCy5Jf5G9Y9WIaS7sZs"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 
  <script src="/static/main.js"></script>
  <script src="/static/jquery.easing.1.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/SlidingMarker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marker-animate-unobtrusive/0.2.8/vendor/markerAnimate.js"></script>
  </body>
</html>